@font-face {
    font-family: "carlyfont";
    src: url("Updatedcarlyfont-Regular.otf");
}

body {
    text-align: center;
    font-family: carlyfont, sans-serif;
    font-size: 25px;
    background-color: rgba(196,196,195,1);
    
}

img {
/*    align-content: center;*/
    width: 100%;
    display: block;
    margin: auto;
}

.buttonparent {
    position: relative;
    width: 100%;
}

.mainContainer {
    width: 1000px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row img {
    max-width: 300px;
}

.flyingGirl {
    position: absolute;
}

.flying {
    position: relative;
}
.thinkingGirl {
    position: absolute;
}
.thinking {
    position: relative;
}

.title {
    max-width: 100%;
}

.specialLink {
    background-color: rgba(196,196,195,1);
    width: 50%;
}

.bottomButtons {
    display: flex;
    justify-content: center;
}